#title {
	font-size: 11em;
	text-align: center;
	margin: 0em;
	font-family: "Righteous";
	font-style: normal;
	font-weight: 400;
	color: #C25A5a;
}
html {
	background-image: url('desert2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#credit {
	color: grey;
	text-decoration: none;
	position: absolute;
	top: 55em;
}

.fields {
	text-align: center;
	font-family: "Nova Round";
	font-weight: 400;
	font-size: 3.7em;
	width: 30%;
	display: inline-block;
	float: left;
	margin-left: 1.3em;
}



#destination-title {
	margin-top: 15%;
	margin-bottom: 0.3em;
	color: #4D5250;
}

#playlist-title {
	color: #444C55;
	margin-bottom: 0.3em;
}

input {
	background-color: #8C9699;
	opacity: 60%;
	text-align: center;
	font-family: "Nova Round";
	font-weight: 400;
	border-radius: 0.5em;
	font-size: 0.5em;
	margin-top: 0em;
	height: 1.8em;
	width: 13em;
	color: black;
	border-style: inset;
	margin-bottom: 2em;
}

#destination-form {
	border-color: #4D5250;
}

#playlist-form {
	border-color: #444C55;
}

::placeholder {
	color: black;
	opacity: 50%;
}
input:focus, textarea {
	outline: none !important;
}

.calculate {
	float: left;
	text-align: center;
	font-family: "Nova Round";
	font-weight: 400;
	font-size: 3.7em;
	width: 30%;
	display: inline-block;
}

.buttons {
	display: inline-block;
	float: left;
	width: 30%;
	text-align: center;
}
.calculate-button {
	margin-top: 55%;
	font-family: "Nova Round";
	font-weight: 400;
	font-size: 2.7em;
	text-align: center;
	border-radius: 0.15em;
	border-style: solid;
	border-width: 0.07em;
	padding: 0.2em 0.6em 0.2em 0.6em;
	color: #555d66;
	border-color: #4D5250;
	background-color: rgba(140, 150, 153, 0.6);
}
.calculate-button:hover {
	border-style: inset;
	background-color: rgba(140, 150, 153, 0.8);
}

.result {
	margin: 0.3em;
	color: #4D5250;
}
.stats {
	color: #444C55;
	margin: 0.5em;
}
